<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artursworld.nccn">

    <application
        android:name=".controller.config.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.StartMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.wizard.WizardNCCN" />
        <activity android:name=".controller.wizard.WizardHADSD" />
        <activity android:name=".controller.wizard.WizardQualityOfLife" />
        <activity android:name=".view.user.SelectUserActivity"></activity>
    </application>

</manifest>